:root {
    --clr-primary-900: hsl(195, 56%, 16%);
    --clr-primary-700: hsl(195, 56%, 22%);
    --clr-primary-400: hsl(194, 38%, 48%);
    --clr-primary-100: hsl(194, 55%, 59%);

    --clr-text-900: hsl(225, 9%, 9%);
    --clr-text-400: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    margin: 0;
	padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    font-family: sans-serif;
}

.left-navigation, .content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 100vh;
    height: 100%;
}

.left-navigation {
    max-width: 270px;
    flex: 1;
    color: var(--clr-text-400);
    
    background: linear-gradient(var(--clr-primary-400), var(--clr-primary-700));
}

.left-navigation li,
.left-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-navigation ul {
    border-bottom: 2px solid var(--clr-primary-700);
}

.left-navigation li {
    font-size: 1.25em;
    padding: .5em;
    cursor: pointer;
    vertical-align: center;
    line-height: 1.5;
}

.left-navigation li img {
    height: 22px;
    filter: invert(1);
    margin: 3px 5px 0px 5px;
    padding: 0;
}

.left-navigation .icon {
    border-radius: 18px;
    height: 32px;
    display: inline-block;
    margin: 0px 10px 0px 0px;
    width: 32px;
    text-align: center;
}

.left-navigation .active .icon,
.left-navigation li:hover .icon {    
    background: var(--clr-primary-900);
}

.left-navigation li:hover,
.left-navigation li.active {
    background: var(--clr-primary-700);
}

.left-navigation li.active img,
.left-navigation li:hover img {
    filter: invert(.5) sepia(1) saturate(90) hue-rotate(130deg);
}

.main-menu-caption {
    font-weight: 700;
    font-size: 1.25em;
    height: 2em;
    padding: .5em;
    line-height: 1.1;
}

.budget-summary {
    text-transform: uppercase;

}

.amount {
    float: right;
}


.content {
    background: var(--clr-primary-900);
    flex: 2;
}

.header, .toolbar, .data {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}

.header {
    max-height: 100px;
}

.toolbar { 
    background: var(--clr-text-400);
    max-height: 30px;
    border-bottom: 1px solid var(--clr-primary-400);
}

.data {
    background: var(--clr-text-400);
}

.items, .summary {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.items {
    flex: 2;
}

.summary {
    background: var(--clr-primary-100);
}